/* * Reset * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILS */

.bg-blue {
    background-color: #00439c;
}

.bg-grey {
    background-color: #bebcbb;
}

.bg-darkblue {
    background-color: #101634;
}

/* MAIN */

#new-games img {
    padding: 2px;
}

#new-games img:hover{
    box-shadow: 0 0 0 2px #00439c;
}

main {
    padding-top: 50px;
}

.img-sony {
    width: 50px;
    height: 30px;
}

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-position-x: center;
    min-height: 500px;
}

.jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 500px;
}

/*! da inserire via Bootstrap */

.card {
    border: none;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

.globe {
    width: 20px;
}