/* * Reset * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-blue {
    background-color: #00439c;
}

/* [class*="col"] {
    border: 1px solid yellowgreen;
    min-height: 50px;
} */

header {
    border: 1px solid red;
}

main {
    padding-top: 50px;
}

.img-sony {
    width: 50px;
    height: 30px;
}

.jumbo {
    border: 3px solid green;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-position-x: center;
    min-height: 500px;
}

.jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 500px;
}

/*! da inserire via Bootstrap */

.card {
    border: none;
}

#ps5 {
    border: 1px solid blue;
}

footer {
    width: 100%;
    border: 2px solid red;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}


.globe {
    width: 20px;
}