/* UTILS */

.bg-blue {
    background-color: #00439c;
}

.bg-grey {
    background-color: #bebcbb;
}

.bg-darkblue {
    background-color: #101634;
}

.rounded-max {
    border-radius: 20px;
}

.font-10px {
    font-size: 10px;
}

/* HEADER */

header {
    animation: fromtop 1s ease-out;
}

@keyframes fromtop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

.img-sony {
    width: 50px;
    height: 30px;
}

nav .access:hover {
    box-shadow: 0 0 0 2px white inset;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #00439c;
    filter: brightness(1.2);
}

.dropdown-content, .dropdown-hardware, .dropdown-servizi {
    display: none;
    position: absolute;
    top: 80%;
    left: 0;
    background-color: #f9f9f9;
    width: 99vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    z-index: 1;
}

.supporto:hover .dropdown-content, .hardware:hover .dropdown-hardware, .servizi:hover .dropdown-servizi {
    display: block;
}

.play7 {
    height: 30px;
}

.service {
    height: 40px;
    filter: drop-shadow(0 0 5px #00439c)
}

.dropdown-content ul, .dropdown-hardware ul, .dropdown-servizi ul {
    list-style-type: none;
}

.dropdown-content a, .dropdown-hardware a, .dropdown-servizi a {
    text-decoration: none;
    color: #101634;
}

/* MAIN */

#new-games img {
    padding: 2px;
    transition: transform .5s ease;
}

#new-games {
    animation: fromleft 1.5s ease-in;
}

@keyframes fromleft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

#new-games img:hover {
    box-shadow: 0 0 0 2px #00439c;
    transform: translateY(-5%);
}

main {
    padding-top: 50px;
}

#ps5 button:hover {
    box-shadow: 0 0 0 2px white inset;
}

#ps5-acc .acc {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

#ps5-acc .acc:hover {
    opacity: 1;
}

#ps5-acc .selected {
    opacity: 1;
}

.icon::before {
    display: inline-block;
}

.registered::after {
    font-family: "Font Awesome 5 Free";
    content: "\f25d";
    font-size: 10px;
}

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-position-x: center;
    min-height: 500px;
}

.jumbo button:hover, .jumbo-2 button:hover, #ps4 a:hover {
    box-shadow: 0 0 0 2px white inset;
}

.jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 500px;
}

#ps-plus button:hover {
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, .5);
}

#ps-now button:hover {
    box-shadow: 0 0 0 2px #101634 inset;
}

/* FOOTER */

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

.globe {
    width: 20px;
}